mixin loginForm()
  form.form(action="/login" method="POST")
    h2 login
    label(for="userEmail") Email Address
    input(type="email" id="userEmail" name="email")
    label(for="userPassword") Password
    input(type="password" id="userPassword" name="password")
    input.button(type="submit" value="Log In →")
